{% extends 'Asterix/plantilla.html.twig' %}

{%  block contenido %}

       
       
            <div class="col mb-4">
                <div class="card" style="width: 40rem;">
                    {# <img src="{{ pelicula.poster }}" class="card-img-top"> #}
                    <iframe width="560" height="315" src="{{ pelicula.trailer }}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                    <div class="card-body">
                        <h4 class="card-title">{{ pelicula.title }}</h4>
                        <h3>Personajes principales</h3>
                        <div class="row">
                            
                            <ul class="row row-cols-1 row-cols-md-2 row-cols-md-3">
                              {% for personaje in pelicula.personajes %}
                                <li>
                                  <div class="col mb-4">
                                  <div class="card" style="width: 8rem;">
                                    <img src="{{ personaje.image }}" class="card-img-top">
                                    <div class="card-body">
                                    
                                    <h6 class="card-text">{{ personaje.name }}</h6>
                                    </div>
                                  </div>
                                  </div>
                                </li>
                              {% endfor %}
                            </ul>
                        </div>
                        {# <a href="{{ path('getPokemon', {'id': pokemon.id}) }}" class="btn btn-primary">Más Info</a>
                        {% if is_granted("ROLE_ADMIN")%}
                        <a href="{{ path('editPokemon', {'id': pokemon.id}) }}" class="btn 
                        btn-primary">Editar</a>
                        {% endif %} #}
                    </div>
                </div>
            </div>
       
    

{% endblock %}