{% extends 'Asterix/plantilla.html.twig' %}

{%  block contenido %}

       
       
            <div class="col mb-4">
                <div class="card" style="width: 18rem;">
                    <img src="{{ personaje.image }}" class="card-img-top">
                    <div class="card-body">
                        <h4 class="card-title">{{ personaje.name }}</h4>
                        <h6 class="card-text">{{ personaje.role }}</h6>
                        <div class="row">
                            <ul>
                              {% for pelicula in personaje.peliculas %}
                                <li>{{ pelicula.title }}</li>
                              {% endfor %}
                            </ul>
                        </div>
                        {# <a href="{{ path('getPokemon', {'id': pokemon.id}) }}" class="btn btn-primary">Más Info</a>
                        {% if is_granted("ROLE_ADMIN")%}
                        <a href="{{ path('editPokemon', {'id': pokemon.id}) }}" class="btn 
                        btn-primary">Editar</a>
                        {% endif %} #}
                    </div>
                </div>
            </div>
       
    

{% endblock %}